{% extends "index.html" %}
{% load static %}
{% block title %}Employees{% endblock title %}
{% block content %}
<div class="grid grid-cols-3 gap-[2rem] p-[2rem]">
    <div class="col-span-2 row-span-2 flex flex-col items-center justify-center p-[1rem] shadow-[inset_20px_20px_80px_0px,inset_-20px_-20px_80px_0px]  shadow-slate-500 cursor-pointer" onclick="window.location.href='/employees/{{employee.user.id}}'">
        <img src="{% static "images/profile_banner.png" %}" alt="Profile Banner" class="-z-20 h-1/2 w-full object-cover object-center">
        <div class="relative w-full h-1/2">
            {% if employee.image %}
            <img class="size-[15rem] absolute -top-2/3 left-[10%] rounded-[1000rem]" src="{{ employee.image.url }}" alt="{{ employee.user.name }}">
            {% else %}
            <img class="size-[15rem] absolute -top-2/3 left-[10%] rounded-[1000rem]" src="{% static 'images/avatar.png' %}" alt="{{ employee.user.name }}">
            {% endif %}
            <div class="absolute right-1/4 flex flex-col items-center p-[2rem_4rem]">
                <div class="font-semibold text-2xl">{{ employee.user.username }}</div>
                <div class="">Job Role: {{ employee.job_title }}</div>
                <div class="">Designation: {{ employee.get_designation_display }}</div>
            </div>
        </div>
    </div>
    {% for employee in employees reversed %}
    <div class="flex items-center justify-between p-[1rem] shadow-lg hover:shadow-2xl cursor-pointer" onclick="window.location.href='/employees/{{employee.user.id}}'">
        {% if employee.image %}
        <img class="size-[10rem] rounded-[1000rem]" src="{{ employee.image.url }}" alt="{{ employee.user.name }}">
        {% else %}
        <img class="size-[10rem] rounded-[1000rem]" src="{% static 'images/avatar.png' %}" alt="{{ employee.user.name }}">
        {% endif %}
        <div class="flex flex-col items-center w-[60%]">
            <div class="font-semibold text-2xl">{{ employee.user.username }}</div>
            <div class="">Job Role: {{ employee.job_title }}</div>
            <div class="">Designation: {{ employee.get_designation_display }}</div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}