{% extends "index.html" %}
{% load static %}
{% block title %}Employee Profile{% endblock title %}
{% block content %}
<div class="fixed inset-0 flex items-center justify-center bg-black/50 backdrop-blur-md z-50" data-messages-exist="{{ messages|length|yesno:'true,false' }}" id="popup" style="display:none">
    <div class="bg-white p-[2rem] flex flex-col justify-center items-center w-[40ch] rounded-lg shadow-lg">
        {% for message in messages %}
        <div class="text-lg font-semibold text-center">{{ message }}</div>
        {% endfor %}
        <button class="mt-[1rem] bg-sky-600 text-white px-4 py-2 rounded-lg" onclick="closePopup()">Close</button>
    </div>
</div>
<div class="flex flex-col min-h-[100dvh] bg-slate-300">
    <div style="background: url({% static "images/profile_banner.png" %}) no-repeat center;background-size:cover;" class="relative h-[35dvh] before:content-[''] before:bg-[rgba(0,0,0,.4)] before:absolute before:inset-0"></div>
    <div class="relative flex min-h-[65dvh] justify-evenly items-start">
    <div class="absolute flex flex-col gap-[1rem] -top-[7rem] left-[5rem]">
        <img src="{{employee.image.url}}" alt="{{employee.user.username}}" class="size-[15rem] rounded-[100rem]">
        <div class="text-lg opacity-60 font-semibold">EMPLOYEE DETAILS</div>
        <div class="flex flex-col bg-slate-200 p-[.3rem] mx-[.4rem] rounded-md">
            <div class="text-sm opacity-60">Name</div>
            <div class="text-lg capitalize font-semibold">{{ employee.user.username }}</div>
        </div>
        <div class="flex flex-col bg-slate-200 p-[.3rem] mx-[.4rem] rounded-md">
            <div class="text-sm opacity-60">Gender</div>
            <div class="text-lg capitalize font-semibold">{{ employee.get_gender_display }}</div>
        </div>
        <div class="flex flex-col bg-slate-200 p-[.3rem] mx-[.4rem] rounded-md">
            <div class="text-sm opacity-60">Contact</div>
            <div class="text-lg capitalize font-semibold">{{ employee.contact }}</div>
        </div>
        <div class="flex flex-col bg-slate-200 p-[.3rem] mx-[.4rem] rounded-md">
            <div class="text-sm opacity-60">Position</div>
            <div class="text-lg capitalize font-semibold">{{ employee.job_title }}</div>
        </div>
    </div>
    <div class="w-[15rem]"></div>
    <div class="w-[16rem] flex flex-col gap-[1rem] mt-[5rem]">
        <div class="text-lg opacity-60 font-semibold">ROLE</div>
        <div class="flex flex-col bg-slate-200 p-[.3rem] mx-[.4rem] rounded-md">
            <div class="text-sm opacity-60">Role</div>
            <div class="text-lg capitalize font-semibold">{{ employee.get_designation_display }}</div>
        </div>
        <div class="flex flex-col bg-slate-200 p-[.3rem] mx-[.4rem] rounded-md">
            <div class="text-sm opacity-60">Department</div>
            <div class="text-lg capitalize font-semibold">{{ employee.department }}</div>
        </div>
        <div class="flex flex-col bg-slate-200 p-[.3rem] mx-[.4rem] rounded-md">
            <div class="text-sm opacity-60">Experience</div>
            <div class="text-lg capitalize font-semibold">{{ employee.years_of_working }}</div>
        </div>
        <div class="flex flex-col bg-slate-200 p-[.3rem] mx-[.4rem] rounded-md">
            <div class="text-sm opacity-60">Date Joined</div>
            <div class="text-lg capitalize font-semibold">{{ employee.hire_date|date:"F j, Y" }}</div>
        </div>
    </div>
    <div class="flex flex-col mt-[10rem] gap-[2rem] justify-center">
        <a class="bg-blue-700 hover:bg-blue-600 p-[1rem_1.5rem] rounded-2xl text-lg text-white font-semibold" href="/update_profile/{{employee.user.id}}">Update Profile</a>
        <a class="bg-green-700 hover:bg-green-600 p-[1rem_1.5rem] rounded-2xl text-lg text-center text-white font-semibold" href="/apply_leave/">Apply Leave</a>
    </div>
    </div>
    <div class="flex lg:flex-row flex-col min-h-[40rem] border-t-[1px] border-black">
        <div class="flex flex-col gap-[1rem] basis-1/2 p-[2rem]">
            <div class="text-3xl font-semibold">Performance</div>
            <div class="relative h-[30rem] flex justify-center items-center">
                <canvas class="" id="performanceChart"></canvas>
            </div>
            <div>
                <label for="performance_year">Select Year:</label>
                <select id="performance_year" onchange="updatePerformanceChart({{employee.user.id}})">
                    {% for year in performance_years_list %}
                    <option value="{{ year }}" {% if year == now.year %}selected{% endif %}>
                        {{ year }}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="flex flex-col gap-[1rem] basis-1/2 p-[2rem]">
            <div class="text-3xl font-semibold">Attendance</div>
            <div class="relative h-[30rem] flex justify-center items-center">
                <canvas class="" id="attendanceChart"></canvas>
            </div>
            <div class="flex gap-[1rem]">
                <label for="attendance_year">Year:</label>
                <select id="attendance_year" onchange="updateAttendanceChart({{employee.user.id}})">
                    {% for year in attendance_years_list %}
                    <option value="{{ year }}" {% if year == now.year %}selected{% endif %}>
                        {{ year }}
                    </option>
                    {% endfor %}
                </select>
        
                <label for="attendance_month">Month:</label>
                <select id="attendance_month" onchange="updateAttendanceChart({{employee.user.id}})">
                    {% for month in months %}
                    <option value="{{ month.0 }}" {% if month.0 == now.month %}selected{% endif %}>
                        {{ month.1 }}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
      updatePerformanceChart({{ employee.user.id }});
      updateAttendanceChart({{ employee.user.id }});
    });
  </script>
{% endblock content %}
