{% extends "index.html" %} 
{% load static %}
{% block title %}About us{% endblock title %} 
{% block content %}
<div style="background: url({% static "images/banner.jpg" %}) no-repeat center;background-size:cover;" class="fixed top-0 before:content-[''] before:bg-[rgba(0,0,0,.7)] before:absolute before:inset-0 -z-[10] h-[100dvh] w-[100dvw]"></div>
<div class="flex flex-col justify-evenly min-h-[70rem]">
    <div class="h-[30rem] bg-transparent flex flex-col gap-[2rem] justify-center items-center text-white">
    <div class="text-6xl font-bold">About</div>
    <div class="text-2xl font-light w-[50ch]">When it comes to digital innovation, we are pioneers in the industry. Since our humble beginnings, we have grown into a dynamic and well reputated company. This growth reflects not only our commitment to quality but also our clients' trust in our ability to deliver outstanding results.</div>
    </div>
    <div class="flex bg-white justify-evenly p-[4rem]">
        <div class="flex flex-col shadow-md hover:shadow-2xl gap-[2rem] w-[40ch] p-[3rem_2rem]">
            <div class="text-2xl font-semibold">In-Depth Research & Tailored Strategies</div>
            <div>We believe that every project deserves a unique approach. Our team conducts comprehensive research and analysis to develop strategies that optimize costs and ensure maximum efficiency. Flexibility is at the core of our services, allowing us to adapt to diverse client requirements with ease.</div>
        </div>
        <div class="flex flex-col shadow-md hover:shadow-2xl gap-[2rem] w-[40ch] p-[3rem_2rem]">
            <div class="text-2xl font-semibold">Creative Minds, Innovative Solutions</div>
            <div>Innovation drives us forward. Our talented professionals are dedicated to thinking beyond the conventional, providing creative and cutting-edge solutions that give our clients a competitive edge in the digital landscape.</div>
        </div>
        <div class="flex flex-col shadow-md hover:shadow-2xl gap-[2rem] w-[40ch] p-[3rem_2rem]">
            <div class="text-2xl font-semibold">Embracing Agile Methodologies</div>
            <div>We follow Agile principles to ensure seamless collaboration, adaptability, and transparency throughout the development process. This approach allows us to respond to changing requirements and deliver high-quality products on time.</div>
        </div>
    </div>
    <div class="flex justify-center items-center p-[5rem_3rem]">
        <div class="text-2xl font-semibold text-white">Let us transform your vision into reality, creating digital experiences that truly make an impact.</div>
    </div>
</div>
{% endblock content %}
